@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  background: #333647;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height:1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes myAnim {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}


.introLoading{
  transition: all 2s ease-in-out;
}

.introLoading.exitAnimation{
  opacity: 0;
  visibility: hidden;
}

.introLoading__logoIcon {
  transition: all 0.4s ease-in-out;
}
    .introLoading__logoIcon img{
        transition: all 0.4s ease-in-out;
        opacity: 0;
        display: block;
    }
    .introLoading.loaded .introLoading__logoIcon img {
      opacity: 1;
      animation: myAnim 1s ease 0s 1 normal forwards;
    }

.introLoading__logoText--text1{
  margin-left: -100%;
  transition: all 1.8s ease-in-out;
}
.introLoading__logoText--text2 {
  margin-left: -100%;
  transition: all 2s ease-in-out;
}

  .introLoading.loaded .introLoading__logoText--text1,
  .introLoading.loaded .introLoading__logoText--text2{
    margin-left: 0;
  }

.introLoading__logoSlogan{
  opacity: 0;
  transition: all 1.3s ease-in-out;
  position: relative;
  top: 50;
}
  .introLoading.loaded .introLoading__logoSlogan{
    opacity: 1;
    top: 0;
  }